{% extends 'profile_base.html' %}
{% load static %}
{% load i18n %}
{% load l10n %}
{% load widget_tweaks %}
{% block head_container %}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css">
    <link rel="stylesheet" href="{% static 'select2/select2-bootstrap.css' %}">
    <link href="{% static 'geoposition/geoposition.css' %}" type="text/css" media="all" rel="stylesheet"/>
    <style>
        #add_new_product_or_service_div {
            display: none;
        }
    </style>
{% endblock %}


{% block base_container %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
    <style>
#compmay-attachments .form-group input[type=file] {
    opacity: 1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 44px;
    z-index: 100;
}
    </style>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <form id="page-content-form" class="form-horizontal" action="" method="post"
                          enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.media }}
                        <div class="card-header card-header-text" data-background-color="rose">
                            <h4 class="card-title">
                                {% if company %}
                                    {% trans 'edit_company' %}
                                {% else %}
                                    {% trans 'add_new_company' %}
                                {% endif %}
                            </h4>
                        </div>
                        <div class="card-content">
                            <div class="row">
                                <label class="col-sm-2 label-on-left">{% trans 'name' %}</label>
                                <div class="col-sm-6">
                                    <div class="form-group label-floating">
                                        <label class="control-label"></label>
                                        {{ form.name|add_class:"form-control" }}
                                        {% if form.name.errors %}
                                            <div class="alert alert-danger" style="padding: 7px 0;">
                                                <button style="margin: 5px 10px;" type="button" class="close"
                                                        data-dismiss="alert" aria-hidden="true">
                                                    ×
                                                </button>
                                                <strong>{{ form.name.errors }}</strong>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-2 label-on-left">{% trans 'logo' %}</label>
                                <div class="col-md-offset-2 col-md-4 col-sm-4">
                                    <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                                        <div class="fileinput-new thumbnail">
                                            <img src="




                                                    {% if company.logo %}{{ company.logo.url }}{% else %}{% static 'profile/assets/img/image_placeholder.jpg' %}{% endif %}"
                                                 alt="...">
                                        </div>
                                        <div class="fileinput-preview fileinput-exists thumbnail"></div>
                                        <div>
                                                    <span class="btn btn-rose btn-round btn-file">
                                                        <span class="fileinput-new">{% trans 'select_image' %}</span>
                                                        <span class="fileinput-exists">{% trans 'change' %}</span>
                                                    {{ form.logo }}
                                                    </span>
                                            <a href="#pablo" class="btn btn-danger btn-round fileinput-exists"
                                               data-dismiss="fileinput"><i class="fa fa-times"></i> {% trans 'remove' %}
                                            </a>
                                        </div>
                                    </div>
                                    {% if form.logo.errors %}
                                        <div class="alert alert-danger" style="padding: 7px 0;">
                                            <button style="margin: 5px 10px;" type="button" class="close"
                                                    data-dismiss="alert" aria-hidden="true">
                                                ×
                                            </button>
                                            <strong>{{ form.logo.errors }}</strong>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-2 label-on-left">{% trans 'cover_photo' %}</label>
                                <div class="col-md-offset-1 col-xs-12 col-md-6 col-sm-6">
                                    <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                                        <div class="fileinput-new thumbnail" style="max-width: none;">
                                            <img src="
                                                    {% if company.cover_photo %}{{ company.cover_photo.url }}{% else %}{% static 'profile/assets/img/image_placeholder-cover.jpg' %}{% endif %}"
                                                 alt="...">
                                        </div>
                                        <div class="fileinput-preview fileinput-exists thumbnail"
                                             style="max-width: none;"></div>
                                        <div>
                                                    <span class="btn btn-rose btn-round btn-file">
                                                        <span class="fileinput-new">{% trans 'select_image' %}</span>
                                                        <span class="fileinput-exists">{% trans 'change' %}</span>
                                                    {{ form.cover_photo }}
                                                    </span>
                                            <a href="#pablo" class="btn btn-danger btn-round fileinput-exists"
                                               data-dismiss="fileinput"><i class="fa fa-times"></i> {% trans 'remove' %}
                                            </a>
                                        </div>
                                    </div>
                                    {% if form.cover_photo.errors %}
                                        <div class="alert alert-danger" style="padding: 7px 0;">
                                            <button style="margin: 5px 10px;" type="button" class="close"
                                                    data-dismiss="alert" aria-hidden="true">
                                                ×
                                            </button>
                                            <strong>{{ form.cover_photo.errors }}</strong>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-2 label-on-left">{% trans 'slogan' %}</label>
                                <div class="col-sm-6">
                                    <div class="form-group label-floating">
                                        <label class="control-label"></label>
                                        {{ form.slogan|add_class:"form-control" }}
                                        {% if form.slogan.errors %}
                                            <div class="alert alert-danger" style="padding: 7px 0;">
                                                <button style="margin: 5px 10px;" type="button" class="close"
                                                        data-dismiss="alert" aria-hidden="true">
                                                    ×
                                                </button>
                                                <strong>{{ form.slogan.errors }}</strong>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-2 label-on-left">{% trans 'email' %}</label>
                                <div class="col-sm-6 ">
                                    <div class="form-group label-floating column-sizing">
                                        <label class="control-label"></label>
                                        {{ form.email|add_class:"form-control" }}
                                        {% if form.email.errors %}
                                            <div class="alert alert-danger" style="padding: 7px 0;">
                                                <button style="margin: 5px 10px;" type="button" class="close"
                                                        data-dismiss="alert" aria-hidden="true">
                                                    ×
                                                </button>
                                                <strong>{{ form.email.errors }}</strong>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-2 label-on-left">{% trans 'phones' %}</label>
                                <div class="col-sm-6 ">
                                    <div class="form-group label-floating column-sizing">
                                        <label class="control-label"></label>
                                        {{ form.phones|add_class:"form-control" }}
                                        {% if form.phones.errors %}
                                            <div class="alert alert-danger" style="padding: 7px 0;">
                                                <button style="margin: 5px 10px;" type="button" class="close"
                                                        data-dismiss="alert" aria-hidden="true">
                                                    ×
                                                </button>
                                                <strong>{{ form.phones.errors }}</strong>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-2 label-on-left">{% trans 'voen' %}</label>
                                <div class="col-sm-6 ">
                                    <div class="form-group label-floating column-sizing">
                                        <label class="control-label"></label>
                                        {{ form.voen|add_class:"form-control" }}
                                        {% if form.voen.errors %}
                                            <div class="alert alert-danger" style="padding: 7px 0;">
                                                <button style="margin: 5px 10px;" type="button" class="close"
                                                        data-dismiss="alert" aria-hidden="true">
                                                    ×
                                                </button>
                                                <strong>{{ form.voen.errors }}</strong>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-2 label-on-left">{% trans 'bank_account' %}</label>
                                <div class="col-sm-6 ">
                                    <div class="form-group label-floating column-sizing">
                                        <label class="control-label"></label>
                                        {{ form.bank_account|add_class:"form-control" }}
                                        {% if form.bank_account.errors %}
                                            <div class="alert alert-danger" style="padding: 7px 0;">
                                                <button style="margin: 5px 10px;" type="button" class="close"
                                                        data-dismiss="alert" aria-hidden="true">
                                                    ×
                                                </button>
                                                <strong>{{ form.bank_account.errors }}</strong>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-2 label-on-left">{% trans 'region' %}</label>
                                <div class="col-sm-6">
                                    <div class="form-group label-floating">
                                        <label class="control-label"></label>
                                        {{ form.region|add_class:"form-control select2-single" }}
                                        {% if form.region.errors %}
                                            <div class="alert alert-danger" style="padding: 7px 0;">
                                                <button style="margin: 5px 10px;" type="button" class="close"
                                                        data-dismiss="alert" aria-hidden="true">
                                                    ×
                                                </button>
                                                <strong>{{ form.region.errors }}</strong>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-2 label-on-left">{% trans 'address' %}</label>
                                <div class="col-sm-6">
                                    <div class="form-group label-floating">
                                        <label class="control-label"></label>

                                        {{ form.address|add_class:"form-control" }}
                                        {% if form.address.errors %}
                                            <div class="alert alert-danger" style="padding: 7px 0;">
                                                <button style="margin: 5px 10px;" type="button" class="close"
                                                        data-dismiss="alert" aria-hidden="true">
                                                    ×
                                                </button>
                                                <strong>{{ form.address.errors }}</strong>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <label class="col-sm-2 label-on-left">{% trans 'businnes_type' %}</label>
                                <div class="col-sm-6">
                                    <div class="form-group label-floating">
                                        <label class="control-label"></label>
                                        {{ form.businnes_type|add_class:"form-control select2-multiple" }}
                                        {% if form.businnes_type.errors %}
                                            <div class="alert alert-danger" style="padding: 7px 0;">
                                                <button style="margin: 5px 10px;" type="button" class="close"
                                                        data-dismiss="alert" aria-hidden="true">
                                                    ×
                                                </button>
                                                <strong>{{ form.businnes_type.errors }}</strong>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="row" id="businnes_types_parent-div">
                                <label class="col-sm-2 label-on-left">{% trans 'businnes_types_parent' %}</label>
                                <div class="col-sm-6">
                                    <div class="form-group label-floating">
                                        <label class="control-label"></label>
                                        {{ form.businnes_types_parent|add_class:"form-control select2-multiple" }}
                                        {% if form.businnes_types_parent.errors %}
                                            <div class="alert alert-danger" style="padding: 7px 0;">
                                                <button style="margin: 5px 10px;" type="button" class="close"
                                                        data-dismiss="alert" aria-hidden="true">
                                                    ×
                                                </button>
                                                <strong>{{ form.businnes_types_parent.errors }}</strong>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-2 label-on-left">{% trans 'attachments' %}</label>
                                <div class="col-sm-6" id="compmay-attachments">
                                    <div class="form-group label-floating">
                                        <label class="control-label"></label>
{#                                        <div>#}
{#                                            <span class="btn btn-rose btn-round btn-file">#}
{#                                                <span class="fileinput-new-attachments">{% trans 'select_attachments' %}</span>#}
{#                                            {{ form.attachments }}#}
{#                                            </span>#}
{#                                        </div>#}
                                        {{ form.attachments|add_class:"form-control" }}
                                        {% if form.attachments.errors %}
                                            <br>
                                            <br>
                                            <div class="alert alert-danger" style="padding: 7px 0;">
                                                <button style="margin: 5px 10px;" type="button" class="close"
                                                        data-dismiss="alert" aria-hidden="true">
                                                    ×
                                                </button>
                                                <strong>{{ form.attachments.errors }}</strong>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-2 label-on-left">{% trans 'practices' %}</label>
                                <div class="col-sm-6">
                                    <div class="form-group label-floating">
                                        <label class="control-label"></label>

                                        {{ form.practices|add_class:"form-control" }}
                                        {% if form.practices.errors %}
                                            <div class="alert alert-danger" style="padding: 7px 0;">
                                                <button style="margin: 5px 10px;" type="button" class="close"
                                                        data-dismiss="alert" aria-hidden="true">
                                                    ×
                                                </button>
                                                <strong>{{ form.practices.errors }}</strong>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-2 label-on-left">{% trans 'position' %}</label>
                                <div class="col-sm-8">
                                    <div class="form-group label-floating">
                                        <label class="control-label"></label>

                                        {{ form.position|add_class:"form-control" }}
                                        {% if form.position.errors %}
                                            <div class="alert alert-danger" style="padding: 7px 0;">
                                                <button style="margin: 5px 10px;" type="button" class="close"
                                                        data-dismiss="alert" aria-hidden="true">
                                                    ×
                                                </button>
                                                <strong>{{ form.position.errors }}</strong>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer text-center">
                            <input type="submit" class="btn btn-rose btn-fill" value="{% if company %}{% trans 'save_changes' %}{% else %}{% trans 'create' %}{% endif %}"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block js_container %}
    <script type="text/javascript" src="{% static 'geoposition/geoposition.js' %}"></script>
    <script src="{% static 'select2/select2.full.js' %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script>
        $(document).ready(function () {
            var main_businnes = $('#id_businnes_type');
            var businnes_types_parent_div = $('#businnes_types_parent-div');
            {% if company_parent_businnes_os.count > 0 %}
                businnes_types_parent_div.show();
            {% else %}
                businnes_types_parent_div.hide();
            {% endif %}
            var id_businnes_types_parent = $('#id_businnes_types_parent');
            var url = '{% url 'profile_parent_business_ajax' %}';
            main_businnes.change(function () {
                {#            alert('---------');#}
                {#            alert(main_businnes.val());#}
                {#                alert("Handler for .change() called.");#}
                $.ajax({
                    url: url, // the endpoint,commonly same url
                    dataType: "json",
                    type: "post",
                    data: $('#page-content-form').serialize(),

                    success: function (result) {
                        id_businnes_types_parent.html('');
                        if (result['message_code'] == 1) {
                            businnes_types_parent_div.show();
                            console.log(result['message']);
                            {#                            console.log('-----------------');#}
                            id_businnes_types_parent.html('');
                            {#                            console.log(id_businnes_types_parent.html());#}
                            {#                            alert(id_businnes_types_parent.html());#}
                            {#                            console.log('-----------------');#}
                            id_businnes_types_parent.html(result['message']);
                            console.log(id_businnes_types_parent.html());

                            {#                            console.log('**********************************************************');#}
                        } else if (result['message_code'] == 5) {
                            businnes_types_parent_div.hide();
                        }
                        //alert('success');
                        // register_form_button.show(1000)
                    },
                    // handle a non-successful response
                    error: function (xhr, errmsg, err) {
                        id_businnes_types_parent.html('');
                        businnes_types_parent_div.hide();
                        {#                        alert(0);#}
                        //{#                 console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console#}
                        {#                    product_or_service_message.removeClass('alert').removeClass('alert-success').addClass('alert').addClass('alert-danger');#}
                        {#                    product_or_service_message.html('<strong>' + 'error' + '</strong>').show();#}
                        {#                    setTimeout(function () {#}
                        {#                        product_or_service_message.fadeOut();#}
                        {#                        product_or_service_button.show(1000);#}
                        {#                    }, 4000);#}

//{#                 $(".signup-message").show();#}
//                $('#signup-loader-image').hide();
//                 $('#register-form-button').show(1000);
                    }
                });
            });
        })
    </script>
    <script>
        $(".select2-single, .select2-multiple").select2({
            theme: "bootstrap",
            placeholder: "{% trans 'select_a_state' %}",
            maximumSelectionSize: 6,
            containerCssClass: ':all:'
        });

        $(":checkbox").on("click", function () {
            $(this).parent().nextAll("select").prop("disabled", !this.checked);
        });
    </script>

{% endblock %}