{% extends 'profile_base.html' %}
{% load static %}
{% load i18n %}
{% load thumbnail %}
{% load widget_tweaks %}
{% block head_container %}

    <title>{{ base_company_info.name }} | {% trans 'dashboard' %}</title>
    <link rel="canonical" href="{% url 'dashboard' %}"/>
    <!--  Social tags      -->
    <meta name="keywords"
          content="">
    <meta name="description"
          content="">
    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="{{ base_company_info.name }} | {% trans 'dashboard' %}">
    <meta itemprop="description"
          content="">
    <meta itemprop="image" content="{{ base_company_info.social_image|thumbnail_url:'facebook_image' }}">
    <!-- Twitter Card data -->
    <meta name="twitter:card" content="image">
    <meta name="twitter:site" content="@twitter_user">
    <meta name="twitter:title" content="{{ base_company_info.name }} | {% trans 'dashboard' %}">
    <meta name="twitter:description"
          content="">
    <meta name="twitter:creator" content="@creativetim">
    <meta name="twitter:image"
          content="{{ base_company_info.social_image|thumbnail_url:'facebook_image' }}">
    <!-- Open Graph data -->
    <meta property="fb:app_id" content="fb_id">
    <meta property="og:title" content="| {% trans 'dashboard' %}"/>
    <meta property="og:type" content="article"/>
    <meta property="og:url" content="{% url 'dashboard' %}"/>
    <meta property="og:image"
          content="{{ base_company_info.social_image|thumbnail_url:'facebook_image' }}"/>
    <meta property="og:description"
          content=""/>
    <meta property="og:site_name" content="{{ base_company_info.name }}"/>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css">
    <link rel="stylesheet" href="{% static 'select2/select2-bootstrap.css' %}">
{% endblock %}


{% block base_container %}
    <style>
        .shadow_div_without_background {
            -webkit-box-shadow: 0 0 14px -2px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 0 0 14px -2px rgba(0, 0, 0, 0.75);
            box-shadow: 0 0 14px -2px rgba(0, 0, 0, 0.75);
        }

        .shadow_div_with_background_white {
            background: #ffffff;
            -webkit-box-shadow: 0 0 14px -2px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 0 0 14px -2px rgba(0, 0, 0, 0.75);
            box-shadow: 0 0 14px -2px rgba(0, 0, 0, 0.75);
        }

        .txt_algn_cntr {
            text-align: center !important;
        }
    </style>
    <div class="container-fluid">
        {% if user_profile_base.type == 'individual-person' or user_profile_base.type == 'juridical-person' %}
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-header" data-background-color="orange">
                            <i class="material-icons">store</i>
                        </div>
                        <div class="card-content">
                            <p class="category">{% trans 'my_companies' %}</p>
                            <h3 class="card-title">{{ user_profile_base.get_companies.count }}</h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons text-danger">list</i>
                                <a href="{% url 'my_companies' %}">{% trans 'all_companies' %}</a>
                            </div>
                        </div>
                    </div>
                </div>
                {#            <div class="col-lg-3 col-md-6 col-sm-6">#}
                {#                <div class="card card-stats">#}
                {#                    <div class="card-header" data-background-color="orange">#}
                {#                        <i class="material-icons">shopping_cart</i>#}
                {#                    </div>#}
                {#                    <div class="card-content">#}
                {#                        <p class="category">{% trans 'company_product_or_service_count' %}</p>#}
                {#                        <h3 class="card-title">{{ company_product_or_service_count }}</h3>#}
                {#                    </div>#}
                {#                    <div class="card-footer">#}
                {#                        <div class="stats">#}
                {#                            <i class="material-icons text-danger">list</i>#}
                {#                            <a href="{% url 'my_company' company.id %}">{{ company.name }} {% trans 'company_product_or_service' %}</a>#}
                {#                        </div>#}
                {#                    </div>#}
                {#                </div>#}
                {#            </div>#}
                {#            <div class="col-lg-3 col-md-6 col-sm-6">#}
                {#                <div class="card card-stats">#}
                {#                    <div class="card-header" data-background-color="orange">#}
                {#                        <i class="material-icons">shopping_cart</i>#}
                {#                    </div>#}
                {#                    <div class="card-content">#}
                {#                        <p class="category">{% trans 'company_events_count' %}</p>#}
                {#                        <h3 class="card-title">{{ company_events_count }}</h3>#}
                {#                    </div>#}
                {#                    <div class="card-footer">#}
                {#                        <div class="stats">#}
                {#                            <i class="material-icons text-danger">list</i>#}
                {#                            <a href="{% url 'my_company_events' company.id %}">{{ company.name }} {% trans 'all_events' %}</a>#}
                {#                        </div>#}
                {#                    </div>#}
                {#                </div>#}
                {#            </div>#}
            </div>
            <h3>
                {% trans 'my_companies' %}
                <a class="btn btn-info" href="{% url 'create_company' %}">
                    <i class="fa fa-plus" aria-hidden="true"></i> {% trans 'create_company' %}
                </a>
            </h3>
            <br>
            <div class="row">
                {% for company in companies %}
                    <div class="col-md-4">
                        <div class="card card-product">
                            <div class="card-image" data-header-animation="true">
                                <a href="{% url 'my_company' company.id %}">
                                    <img class="img" src="{{ company.logo|thumbnail_url:'companies_list' }}">
                                </a>
                            </div>
                            <div class="card-content">
                                <div class="card-actions">
                                    <button type="button" class="btn btn-danger btn-simple fix-broken-card">
                                        <i class="material-icons">{% trans 'build' %}</i> {% trans 'fix_header' %}!
                                    </button>
                                    <a href="{% url 'my_company' company.id %}" class="btn btn-default btn-simple"
                                       rel="tooltip"
                                       data-placement="bottom" title="{% trans 'view' %}">
                                        <i class="material-icons">art_track</i>
                                    </a>
                                    <a href="{% url 'edit_company' company.id %}" type="button"
                                       class="btn btn-success btn-simple" rel="tooltip"
                                       data-placement="bottom" title="{% trans 'edit' %}">
                                        <i class="material-icons">edit</i>
                                    </a>
                                    <button onclick="removeCompany('{{ company.id }}','{% url 'deleted_company' company.id %}?next_url={% url 'dashboard' %}')"
                                            type="button" class="btn btn-danger btn-simple" rel="tooltip"
                                            data-placement="bottom" title="{% trans 'remove' %}">
                                        <i class="material-icons">close</i>
                                    </button>
                                </div>
                                {#                            <div class="card-actions">#}
                                {#                                <button type="button" class="btn btn-danger btn-simple fix-broken-card">#}
                                {#                                    <i class="material-icons">{% trans 'build' %}</i> {% trans 'fix_header' %}!#}
                                {#                                </button>#}
                                {#                                <button type="button" class="btn btn-default btn-simple" rel="tooltip"#}
                                {#                                        data-placement="bottom" title="{% trans 'view' %}">#}
                                {#                                    <i class="material-icons">{% trans 'company_product_or_service_list' %}</i>#}
                                {#                                </button>#}
                                {#                                <button type="button" class="btn btn-success btn-simple" rel="tooltip"#}
                                {#                                        data-placement="bottom" title="{% trans 'edit' %}">#}
                                {#                                    <i class="material-icons">{% trans 'edit' %}</i>#}
                                {#                                </button>#}
                                {#                                <button type="button" class="btn btn-danger btn-simple" rel="tooltip"#}
                                {#                                        data-placement="bottom" title="{% trans 'remove' %}">#}
                                {#                                    <i class="material-icons">{% trans 'close' %}</i>#}
                                {#                                </button>#}
                                {#                            </div>#}
                                <h4 class="card-title">
                                    <a href="{% url 'my_company' company.id %}">{{ company.name }}</a>
                                </h4>
                                <div class="card-description">
                                    {{ company.practices }}
                                </div>
                            </div>
                            <div class="card-footer">
                                {% if not company.is_active %}
                                    <div class="alert-danger"
                                         style="width: 100%;text-align: center;background: #f33636;color: #fff;border-radius: 8px;border: 2px solid #00bcd4;">
                                        <h4>{% trans 'is_not_active' %}</h4>
                                    </div>
                                {% else %}
                                    <div class="stats pull-right">
                                        <p class="category"><i
                                                class="material-icons">place</i> {{ company.region.name }}
                                        </p>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% if forloop.counter|divisibleby:3 and not forloop.last %}
                        </div>
                        <div class="row">

                    {% endif %}
                {% endfor %}
                </div>
            <h3>{% trans 'my_company_products_or_services' %}
                <a class="btn btn-info" href="{% url 'product_service_redirect' 'create' %}">
                    <i class="fa fa-plus" aria-hidden="true"></i> {% trans 'add_company_products_or_services' %}
                </a>

            </h3>
            <br>

            <div id="products" class="row list-group">
                {% for company_product_or_service in company_product_or_services %}
                    <div class="item  col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <div class="thumbnail">
                            <a href="">
                                <img class="group list-group-image"
                                     src="{{ company_product_or_service.logo|thumbnail_url:'profile_my_company_product_or_service' }}"
                                     alt=""/>
                            </a>
                            <div class="caption">
                                <h4 class="group inner list-group-item-heading">
                                    <a>{{ company_product_or_service.name }}</a>
                                </h4>
                                <p class="group inner list-group-item-text">
                                    {{ company_product_or_service.description|slice:'170' }}</p>
                                <div class="row">
                                    <div class="col-xs-12 col-md-12">
                                        <p class="lead">
                                            {{ company_product_or_service.price }} {{ company_product_or_service.currency.nominal }}</p>
                                    </div>
                                    <div class="col-xs-12 col-md-12">
                                        <div class="row">
                                            <div class="col-xs-4 ">
                                                <a class="btn btn-info"
                                                   href="{% url 'company_product_or_service_preview' company_product_or_service.id %}">
                                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                            <div class="col-xs-4 ">
                                                <a class="btn btn-success"
                                                   href="{% url 'edit_product_service' company_product_or_service.company.id company_product_or_service.id %}?next_url={{ url }}">
                                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                            <div class="col-xs-4 ">
                                                <a class="btn btn-danger"
                                                   onclick="removeProductOrservices('{{ company_product_or_service.id }}','{% url 'deleted_product_or_service' company_product_or_service.id %}?next_url={% url 'dashboard' %}')">
                                                    <i class="fa fa-times" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% elif user_profile_base.type == 'admin-person' %}
            <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
            <div class="row">
                <div class="col-md-6" style="margin-bottom: 5px;margin-top: 5px;">

                    <script type="text/javascript">
                        google.charts.load('current', {'packages': ['corechart']});
                        google.charts.setOnLoadCallback(drawChart);

                        function drawChart() {

                            var data = google.visualization.arrayToDataTable([
                                ['{% trans 'profile_types' %}', '{% trans 'profile_count' %}'],
                                ['{% trans 'admin_person' %}', {{ chart_type.admin_person}}],
                                ['{% trans 'juridical_person' %}', {{ chart_type.juridical_person }}],
                                ['{% trans 'individual_person' %}', {{ chart_type.individual_person }}],
                                ['{% trans 'ordinary_person' %}', {{ chart_type.ordinary_person }}]
                            ]);

                            var options = {
                                title: '{% trans 'profiles' %}'
                            };

                            var chart = new google.visualization.PieChart(document.getElementById('piechart'));

                            chart.draw(data, options);
                        }
                    </script>
                    <div id="piechart" class="shadow_div_without_background" style="height: 400px;"></div>
                </div>
                <div class="col-md-6" style="margin-bottom: 5px;margin-top: 5px;">
                    <script type="text/javascript">
                        google.charts.load("current", {packages: ["corechart"]});
                        google.charts.setOnLoadCallback(drawChart);
                        function drawChart() {
                            var data = google.visualization.arrayToDataTable([
                                ['Task', 'Hours per Day'],
                                {% for based_busines_item in based_busineses %}
                                    ['{{ based_busines_item.name }}', {{ based_busines_item.get_company_count }}],
                                {% endfor %}
                            ]);

                            var options = {
                                title: '{% trans 'busines_company' %}',
                                pieHole: 0.4,
                            };

                            var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
                            chart.draw(data, options);
                        }
                    </script>
                    <div id="donutchart" class="shadow_div_without_background" style="height: 400px;"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 ">
                    <form class="shadow_div_with_background_white" style="padding: 0 10px;" method="post"
                          id="page-content-form">

                        <h3 class="txt_algn_cntr">{% trans 'choose_busines' %}</h3>
                        <hr>
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6 ">
                                {{ businnes_type_form.businnes_type|add_class:"form-control select2-single" }}
                                {% if businnes_type_form.businnes_type.errors %}
                                    <div class="alert alert-danger" style="padding: 7px 0;">
                                        <button style="margin: 5px 10px;" type="button" class="close"
                                                data-dismiss="alert" aria-hidden="true">
                                            ×
                                        </button>
                                        <strong>{{ businnes_type_form.businnes_type.errors }}</strong>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="col-md-6">
                                <div id="businnes_types_parent-div">
                                    {{ businnes_type_form.businnes_types_parent|add_class:"form-control select2-single" }}
                                    {% if businnes_type_form.businnes_types_parent.errors %}
                                        <div class="alert alert-danger" style="padding: 7px 0;">
                                            <button style="margin: 5px 10px;" type="button" class="close"
                                                    data-dismiss="alert" aria-hidden="true">
                                                ×
                                            </button>
                                            <strong>{{ businnes_type_form.businnes_types_parent.errors }}</strong>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-md-12">
                                <a onclick="filterBusiness();" class="btn btn-danger">{% trans 'filter' %}</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" id="based_parent_business" style="margin-bottom: 5px;margin-top: 5px;">
                    <script type="text/javascript">
                        google.charts.load('current', {'packages': ['corechart']});
                        google.charts.setOnLoadCallback(drawChart);

                        function drawChart() {
                            var data = google.visualization.arrayToDataTable([
                                ['Year', '{% trans 'product_or_service' %}', '{% trans 'event' %}', '{% trans 'company' %}'],
                                {% for data_list_item in data_list %}
                                    ['{{ data_list_item.year }}', {{ data_list_item.pors_count }}, {{ data_list_item.event_count }}, {{ data_list_item.company_count }}],
                                {% endfor %}
                            ]);

                            var options = {
                                title: '{{ based_busineses.first.name }} - {% trans 'companies' %},{% trans 'events' %},{% trans 'products_or_services' %}',
                                curveType: 'function',
                                legend: {position: 'top'}
                            };

                            var chart = new google.visualization.LineChart(document.getElementById('curve_chart_1'));

                            chart.draw(data, options);
                        }
                    </script>
                    <div id="curve_chart_1" class="shadow_div_without_background"
                         style="width: 100%; height: 400px"></div>
                </div>
                {#                <hr>#}
            </div>
            <div class="row">
                <div class="col-md-12 ">
                    <form class="shadow_div_with_background_white" style="padding: 0 10px;" method="post"
                          id="page-content-form-year">

                        <h3 class="txt_algn_cntr">{% trans 'choose_busines' %}</h3>
                        <hr>
                        <div class="row">
                            <div class="col-md-5 ">
                                {% csrf_token %}
                                {{ businnes_type_year_form.businnes_type_year|add_class:"form-control select2-single" }}
                                {% if businnes_type_year_form.businnes_type_year.errors %}
                                    <div class="alert alert-danger" style="padding: 7px 0;">
                                        <button style="margin: 5px 10px;" type="button" class="close"
                                                data-dismiss="alert" aria-hidden="true">
                                            ×
                                        </button>
                                        <strong>{{ businnes_type_year_form.businnes_type_year.errors }}</strong>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="col-md-5 ">
                                <div id="businnes_types_parent-div-year">
                                    {{ businnes_type_year_form.businnes_types_parent_year|add_class:"form-control select2-single" }}
                                    {% if businnes_type_year_form.businnes_types_parent_year.errors %}
                                        <div class="alert alert-danger" style="padding: 7px 0;">
                                            <button style="margin: 5px 10px;" type="button" class="close"
                                                    data-dismiss="alert" aria-hidden="true">
                                                ×
                                            </button>
                                            <strong>{{ businnes_type_year_form.businnes_types_parent_year.errors }}</strong>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-md-2">
                                {{ businnes_type_year_form.year|add_class:"form-control  select2-single" }}
                            </div>
                            <div class="col-md-12">
                                <a onclick="filterBusinessYear();" class="btn btn-danger">{% trans 'Filter' %}</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="row" style="margin-top: 5px;margin-bottom: 10px;">
                <div class="col-md-12" id="based_parent_business_month">
                    <script type="text/javascript">
                        google.charts.load('current', {'packages': ['corechart']});
                        google.charts.setOnLoadCallback(drawVisualization);

                        function drawVisualization() {
                            // Some raw data (not necessarily accurate)
                            var data = google.visualization.arrayToDataTable([
                                ['Month', '{% trans 'companys' %}', '{% trans 'events' %}', '{% trans 'products_or_services' %}'],
                                {% for data_list_month_item in data_list_month %}
                                    ['{{ data_list_month_item.month_name }}', {{ data_list_month_item.company_count }}, {{ data_list_month_item.event_count }}, {{ data_list_month_item.pors_count }}],
                                {% endfor %}
                            ]);

                            var options = {
                                title: '{{ now.year }} - {% trans 'monthly_data' %}',
                                vAxis: {title: '{% trans 'count' %}'},
                                hAxis: {title: '{% trans 'month' %}'},
                                seriesType: 'bars',
                                series: {5: {type: 'line'}}
                            };

                            var chart = new google.visualization.ComboChart(document.getElementById('chart_div_3'));
                            chart.draw(data, options);
                        }
                    </script>
                    <div id="chart_div_3" class="" style="width: 100%; height: 500px;"></div>
                </div>
            </div>
        {% else %}
        {% endif %}
    </div>

{% endblock %}
{% block js_container %}

    <script src="{% static 'select2/select2.full.js' %}"></script>
    <script>
        $(".select2-single, .select2-multiple").select2({
            theme: "bootstrap",
            placeholder: "Select a State",
            maximumSelectionSize: 6,
            containerCssClass: ':all:'
        });

        $(":checkbox").on("click", function () {
            $(this).parent().nextAll("select").prop("disabled", !this.checked);
        });
    </script>
    {% if user_profile_base.type == 'admin-person' %}
        <script>
            function filterBusiness() {

                $.ajax({
                    url: '{% url 'chart_business_ajax' %}', // the endpoint,commonly same url
                    dataType: "json",
                    type: "post",
                    data: $('#page-content-form').serialize(),

                    success: function (result) {
                        if (result['message_code'] == 2) {
                            console.log(result['message']);
                            {#                            console.log('-----------------');#}
                            {#                                id_businnes_types_parent.html('');#}
                            {#                            console.log(id_businnes_types_parent.html());#}
                            {#                            alert(id_businnes_types_parent.html());#}
                            {#                            console.log('-----------------');#}
                            {#                            id_businnes_types_parent.html(result['message']);#}
                            $('#based_parent_business').html('');
                            $('#based_parent_business').html(result['message']);
                            {#                            console.log(id_businnes_types_parent.html());#}

                            {#                            console.log('**********************************************************');#}
                        } else if (result['message_code'] == 5) {
                            {#                                businnes_types_parent_div.hide();#}
                        }
                        //alert('success');
                        // register_form_button.show(1000)
                    },
                    // handle a non-successful response
                    error: function (xhr, errmsg, err) {
                        {#                        id_businnes_types_parent.html('');#}
                        {#                        businnes_types_parent_div.hide();#}
                        {#                        alert(0);#}
                        //{#                 console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console#}
                        {#                    product_or_service_message.removeClass('alert').removeClass('alert-success').addClass('alert').addClass('alert-danger');#}
                        {#                    product_or_service_message.html('<strong>' + 'error' + '</strong>').show();#}
                        {#                    setTimeout(function () {#}
                        {#                        product_or_service_message.fadeOut();#}
                        {#                        product_or_service_button.show(1000);#}
                        {#                    }, 4000);#}

//{#                 $(".signup-message").show();#}
//                $('#signup-loader-image').hide();
//                 $('#register-form-button').show(1000);
                    }
                });
            }
            function filterBusinessYear() {

                $.ajax({
                    url: '{% url 'chart_now_year_month_ajax' %}', // the endpoint,commonly same url
                    dataType: "json",
                    type: "post",
                    data: $('#page-content-form-year').serialize(),

                    success: function (result) {
                        if (result['message_code'] == 1) {
                            console.log(result['message']);
                            {#                            console.log('-----------------');#}
                            {#                                id_businnes_types_parent.html('');#}
                            {#                            console.log(id_businnes_types_parent.html());#}
                            {#                            alert(id_businnes_types_parent.html());#}
                            {#                            console.log('-----------------');#}
                            {#                            id_businnes_types_parent.html(result['message']);#}
                            $('#based_parent_business_month').html('');
{#                            alert(result['message']);#}
                            $('#based_parent_business_month').html(result['message']);
                            {#                            console.log(id_businnes_types_parent.html());#}

                            {#                            console.log('**********************************************************');#}
                        } else if (result['message_code'] == 5) {
                            {#                                businnes_types_parent_div.hide();#}
                        }
                        //alert('success');
                        // register_form_button.show(1000)
                    },
                    // handle a non-successful response
                    error: function (xhr, errmsg, err) {
                        {#                        id_businnes_types_parent.html('');#}
                        {#                        businnes_types_parent_div.hide();#}
                        {#                        alert(0);#}
                        //{#                 console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console#}
                        {#                    product_or_service_message.removeClass('alert').removeClass('alert-success').addClass('alert').addClass('alert-danger');#}
                        {#                    product_or_service_message.html('<strong>' + 'error' + '</strong>').show();#}
                        {#                    setTimeout(function () {#}
                        {#                        product_or_service_message.fadeOut();#}
                        {#                        product_or_service_button.show(1000);#}
                        {#                    }, 4000);#}

//{#                 $(".signup-message").show();#}
//                $('#signup-loader-image').hide();
//                 $('#register-form-button').show(1000);
                    }
                });
            }

            $(document).ready(function () {
                var default_velue = '<option value="">{% trans 'select' %}</option>';
                var main_businnes = $('#id_businnes_type');
                var main_businnes_year = $('#id_businnes_type_year');
                {#                main_businnes.prepend(default_velue);#}
                var businnes_types_parent_div = $('#businnes_types_parent-div');
                var businnes_types_parent_div_year = $('#businnes_types_parent-div-year');
                businnes_types_parent_div.hide();
                businnes_types_parent_div_year.hide();
                var id_businnes_types_parent = $('#id_businnes_types_parent');
                var id_businnes_types_parent_year = $('#id_businnes_types_parent_year');
                var url = '{% url 'profile_parent_business_ajax' %}';
                var url_year = '{% url 'profile_parent_business_year_ajax' %}';

                main_businnes.change(function () {
                    $.ajax({
                        url: url, // the endpoint,commonly same url
                        dataType: "json",
                        type: "post",
                        data: $('#page-content-form').serialize(),

                        success: function (result) {
                            id_businnes_types_parent.html('');
                            if (result['message_code'] == 1) {
                                businnes_types_parent_div.show();
                                console.log(result['message']);
                                {#                            console.log('-----------------');#}
                                id_businnes_types_parent.html('');
                                {#                            console.log(id_businnes_types_parent.html());#}
                                {#                            alert(id_businnes_types_parent.html());#}
                                {#                            console.log('-----------------');#}
                                id_businnes_types_parent.html(result['message']);
                                {#                                console.log(id_businnes_types_parent.html());#}

                                {#                            console.log('**********************************************************');#}
                            } else if (result['message_code'] == 5) {
                                businnes_types_parent_div.hide();
                            }
                            //alert('success');
                            // register_form_button.show(1000)
                        },
                        // handle a non-successful response
                        error: function (xhr, errmsg, err) {
                            id_businnes_types_parent.html('');
                            businnes_types_parent_div.hide();
                            {#                        alert(0);#}
                            //{#                 console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console#}
                            {#                    product_or_service_message.removeClass('alert').removeClass('alert-success').addClass('alert').addClass('alert-danger');#}
                            {#                    product_or_service_message.html('<strong>' + 'error' + '</strong>').show();#}
                            {#                    setTimeout(function () {#}
                            {#                        product_or_service_message.fadeOut();#}
                            {#                        product_or_service_button.show(1000);#}
                            {#                    }, 4000);#}

//{#                 $(".signup-message").show();#}
//                $('#signup-loader-image').hide();
//                 $('#register-form-button').show(1000);
                        }
                    });
                });
                main_businnes_year.change(function () {
                    $.ajax({
                        url: url_year, // the endpoint,commonly same url
                        dataType: "json",
                        type: "post",
                        data: $('#page-content-form-year').serialize(),

                        success: function (result) {
                            id_businnes_types_parent_year.html('');
                            if (result['message_code'] == 1) {
                                businnes_types_parent_div_year.show();
{#                                console.log(result['message']);#}
                                id_businnes_types_parent_year.html('');
                                id_businnes_types_parent_year.html(result['message']);
                            } else if (result['message_code'] == 5) {
                                businnes_types_parent_div_year.hide();
                            }
                        },
                        error: function (xhr, errmsg, err) {
                            id_businnes_types_parent_year.html('');
                            businnes_types_parent_div_year.hide();
                        }
                    });
                });
            })
        </script>
    {% endif %}

    <script>
        function removeProductOrservices($id, $url) {
            swal({
                title: '{% trans 'are_you_sure' %}?',
                text: "{% trans 'are_you_sure_delete' %}!",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: '{% trans 'yes_delete_it' %}!',
                cancelButtonText: '{% trans 'no_cancel' %}!',
                confirmButtonClass: 'btn btn-success',
                cancelButtonClass: 'btn btn-danger',
                buttonsStyling: false
            }).then(function () {
                window.location.replace($url);
            }, function (dismiss) {
                // dismiss can be 'cancel', 'overlay',
                // 'close', and 'timer'
                if (dismiss === 'cancel') {
                    swal(
                        '{% trans 'cancelled' %}',
                        '{% trans 'cancelled_deleted' %} :)',
                        'error'
                    )
                }
            })
        }
    </script>


    <script>
        function removeCompany($id, $url) {
            swal({
                title: '{% trans 'are_you_sure' %}?',
                text: "{% trans 'are_you_sure_delete_company' %}!",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: '{% trans 'yes_delete_it_company' %}!',
                cancelButtonText: '{% trans 'no_cancel' %}!',
                confirmButtonClass: 'btn btn-success',
                cancelButtonClass: 'btn btn-danger',
                buttonsStyling: false
            }).then(function () {
                window.location.replace($url);
            }, function (dismiss) {
                // dismiss can be 'cancel', 'overlay',
                // 'close', and 'timer'
                if (dismiss === 'cancel') {
                    swal(
                        '{% trans 'cancelled' %}',
                        '{% trans 'cancelled_deleted' %} :)',
                        'error'
                    )
                }
            })
        }
    </script>

{% endblock %}