{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load thumbnail %}
{% load widget_tweaks %}
{% get_current_language as LANGUAGE_CODE %}
{% block head_container %}

{% endblock %}


{% block base_container %}
    <script src="https://www.google.com/recaptcha/api.js?hl={{ LANGUAGE_CODE }}" async defer></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css">
    <link rel="stylesheet" href="{% static 'select2/select2-bootstrap.css' %}">
    <style>
        .errorlist {
            list-style: none !important;
        }
    </style>
    <div id="content">

        <div class="container">
            <div>
                <div id="main">
                    <h1 class="page-header">{% trans 'forgot_password' %} </h1>
                    <div class="login-register">
                        <div class="row">
                            <div class="span3">
                            </div>
                            <div class="span6">
                                <ul class="tabs nav nav-tabs">
                                    <li  class="active" >
                                        <a href="#forgot_password">
                                            {% trans 'forgot_password' %}
                                        </a>
                                    </li>
                                </ul>
                                <!-- /.nav -->

                                <div class="tab-content">
                                    <div class="tab-pane  active "
                                         id="forgot_password">
                                        {% if message_login %}
                                            <div class="alert alert-error">
                                                <button type="button" class="close" data-dismiss="alert">×
                                                </button>
                                                <strong>{{ message_login }}</strong>
                                            </div>
                                        {% endif %}
                                        <form id="sign_in-form" method="post" action="{% url 'forgot_password' %}">
                                            {% csrf_token %}
                                            <!-- /.control-group -->

                                            <div class="control-group">

                                                <div class="controls">
                                                    <label class="control-label" for="id_email">
                                                        {% trans 'email' %}
                                                        <span class="form-required"
                                                              title="This field is required.">*</span>
                                                    </label>
                                                    {{ forgot_password_form.email }}
                                                    {% if forgot_password_form.email.errors %}
                                                        <div class="alert alert-error">
                                                            <button type="button" class="close" data-dismiss="alert">×
                                                            </button>
                                                            <strong>{{ forgot_password_form.email.errors }}</strong>
                                                        </div>
                                                    {% endif %}
                                                </div>
                                                <!-- /.controls -->
                                            </div>
                                            <div class="control-group">

                                                <div class="controls">
                                                    {{ forgot_password_form.captcha }}

                                                    {% if forgot_password_form.captcha.errors %}
                                                        <div class="alert alert-error">
                                                            <button type="button" class="close" data-dismiss="alert">×
                                                            </button>
                                                            <strong>{{ forgot_password_form.captcha.errors }}</strong>
                                                        </div>
                                                    {% endif %}
                                                </div>
                                                <!-- /.controls -->
                                            </div>
                                            <!-- /.control-group -->
                                            <!-- /.control-group -->

                                            <!-- /.control-group -->

                                            <div class="form-actions">
                                                <input type="submit" value="Login"
                                                       class="btn btn-primary arrow-right">
                                            </div>
                                            <!-- /.form-actions -->
                                        </form>
                                    </div>
                                    <!-- /.tab-pane -->
                                </div>
                                <!-- /.tab-content -->
                            </div>
                            <!-- /.span4-->

                        </div>
                        <!-- /.row -->
                    </div><!-- /.login-register -->        </div>
            </div>
        </div>

    </div><!-- /#content -->

{% endblock %}


{% block js_container %}
    <script>
        $(document).ready(function () {
            console.log("ready!");
        });
    </script>

{% endblock %}