{% extends 'profile_base.html' %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}
{% block head_container %}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css">
    <link rel="stylesheet" href="{% static 'select2/select2-bootstrap.css' %}">
    <style>
        #add_new_product_or_service_div {
            display: none;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
{% endblock %}


{% block base_container %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-icon" data-background-color="rose">
                        <i class="material-icons">vpn_key</i>
                    </div>
                    <div class="card-content">
                        <h4 class="card-title">{% trans 'change_password' %} -
                            <small class="category">{% trans 'form' %}</small>
                        </h4>
                        <form method="post">
                        {% csrf_token %}
                        <div class="row">

                        </div>
                            <div class="row">
                                <label class="col-sm-3 label-on-left">{% trans 'old_password' %}</label>
                                <div class="col-sm-8">
                                    <div class="form-group label-floating">
                                        <label class="control-label"></label>
                                        {{ form.old_password|add_class:"form-control" }}
                                        {% if form.old_password.errors %}
                                            <div class="alert alert-danger" style="padding: 7px 0;">
                                                <button style="margin: 5px 10px;" type="button" class="close"
                                                        data-dismiss="alert" aria-hidden="true">
                                                    ×
                                                </button>
                                                <strong>{{ form.old_password.errors }}</strong>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-3 label-on-left">{% trans 'new_password' %}</label>
                                <div class="col-sm-8">
                                    <div class="form-group label-floating">
                                        <label class="control-label"></label>
                                        {{ form.new_password|add_class:"form-control" }}
                                        {% if form.new_password.errors %}
                                            <div class="alert alert-danger" style="padding: 7px 0;">
                                                <button style="margin: 5px 10px;" type="button" class="close"
                                                        data-dismiss="alert" aria-hidden="true">
                                                    ×
                                                </button>
                                                <strong>{{ form.new_password.errors }}</strong>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-3 label-on-left">{% trans 'repeat_password' %}</label>
                                <div class="col-sm-8">
                                    <div class="form-group label-floating">
                                        <label class="control-label"></label>
                                        {{ form.repeat_password|add_class:"form-control" }}
                                        {% if form.repeat_password.errors %}
                                            <div class="alert alert-danger" style="padding: 7px 0;">
                                                <button style="margin: 5px 10px;" type="button" class="close"
                                                        data-dismiss="alert" aria-hidden="true">
                                                    ×
                                                </button>
                                                <strong>{{ form.repeat_password.errors }}</strong>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-rose pull-right">Update Profile</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-profile">
                    <div class="card-avatar">
                        <a>
                            <img style="height: 130px;width: 130px;" class="img" src="{% if user_profile_base.image %}{{ user_profile_base.image.url }}{% else %}{% static 'profile/assets/img/image_placeholder.jpg' %}{% endif %}"/>
                        </a>
                    </div>
                    <div class="card-content">
                        <h6 class="category text-gray">@{{ user_profile_base.user.username }}</h6>
                        <h4 class="card-title">{{ user_profile_base.user.first_name }} {{ user_profile_base.user.last_name }}</h4>
                        {#                        <a href="#pablo" class="btn btn-rose btn-round">Follow</a>#}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block js_container %}

    <script src="{% static 'select2/select2.full.js' %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <!-- DateTimePicker Plugin -->
    <script src="{% static 'profile/assets/js/bootstrap-datetimepicker.js' %}"></script>
    <script>
        dateTimeOptions = {
            'format': 'Y-MM-D HH:mm:ss',
            'autoclose': true,
            'showMeridian': true
        };
        {#widgets = {#}
        {#    #NOT Use localization and set a default format#}
        {#    'datetime': DateTimeWidget(options = dateTimeOptions)#}
        {#    }#}
    </script>
    <script>
        $(".select2-single, .select2-multiple").select2({
            theme: "bootstrap",
            placeholder: "Select a State",
            maximumSelectionSize: 6,
            containerCssClass: ':all:'
        });

        $(":checkbox").on("click", function () {
            $(this).parent().nextAll("select").prop("disabled", !this.checked);
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            {#            md.initSliders();#}
            demo.initFormExtendedDatetimepickers();
        });
    </script>
{% endblock %}