{% load static %}
{% load i18n %}
{% load widget_tweaks %}
{% load thumbnail %}

{% load static %}
{% load i18n %}
{% load widget_tweaks %}
{% load thumbnail %}


<div class="bookfilters hpadding20">


    <!-- HOTELS TAB -->
    <div class="hotelstab2 none">
        <span class="opensans size13">{% trans 'search_word' %}</span>
        <input type="text" class="form-control" placeholder="{% trans 'search' %}"/>

        <div class="clearfix pbottom15"></div>


        <div class="clearfix pbottom15"></div>

        <button type="submit" class="btn-search3">{% trans 'search' %}</button>
    </div>


    <div class="w50percent">
        {% for based_busines in based_busineses %}
            <div class="radio">
                <label>
                    <input type="radio" name="business-name" id="business-{{ based_busines.id }}" value="{{ based_busines.id }}"
                           checked=""/>
                    <span class="hotel-ico"></span> {{ based_busines.name }}
                </label>
            </div>
            {% if forloop.counter|divisibleby:'6' and not forloop.last %}
                </div>
                <div class="w50percentlast">
            {% endif %}
        {% endfor %}
        </div>

    <div class="clearfix"></div>
    <br/>        <!-- END OF HOTELS TAB -->

</div>
<!-- END OF BOOK FILTERS -->

<div class="line2"></div>


<div class="line2"></div>

<div class="line2"></div>

<div class="line2"></div>
<div class="clearfix"></div>
<br/>
<br/>
<br/>
